:root {
  --primary-color: rgba(230, 86, 98, 0.904);
  --secondary-color: black;
  --terciary-color: rgb(20, 20, 20);
  --quaternary-color: seashell;
}

.Weather {
  border: var(--secondary-color) 1px solid;
  margin: 8px auto 0px;
  padding: 20px 20px 5px;
  color: var(--quaternary-color);
  text-align: center;
  font-family: monospace;
}
.Weather form {
  margin: 5px 70px;
}
.Weather .form-control,
.btn {
  border-radius: 0px;
  padding: 3px;
  border-bottom-left-radius: 13px;
  border-top-right-radius: 13px;
  border: var(--secondary-color) 1px solid;
  font-size: 15px;
  box-shadow: 3px 3px var(--terciary-color);
}
.Weather .form-control {
  margin-right: 5px;
}
.Weather .btn {
  background-color: var(--primary-color);
}
.Weather .form-control:hover {
  box-shadow: 4px 4px var(--terciary-color);
  border: none;
}
.Weather .btn:hover {
  box-shadow: 4px 4px var(--terciary-color);
}
.WeatherInfo .city {
  font-size: 28px;
  margin: 10px auto -3px;
  line-height: 30px;
  font-weight: bold;
  text-shadow: 2px 2px var(--terciary-color);
}
.date {
  color: var(--terciary-color);
  font-size: 28px;
  font-family: "Meow Script", cursive;
}
.hour {
  font-size: 14px;
  color: var(--terciary-color);
}
.WeatherInfo canvas {
  margin: 40px auto 20px;
}
.WeatherInfo .temperatures {
  text-shadow: 2px 2px var(--terciary-color);
}
.WeatherInfo .temperature-currentday {
  font-size: 100px;
}
.WeatherInfo .celsius {
  font-size: 20px;
  position: relative;
  bottom: 58px;
  font-weight: bold;
}
.temperature-currentday-max,
.temperature-currentday-min {
  position: relative;
  bottom: -70px;
  font-size: 25px;
}
.temperature-currentday-max {
  font-weight: bold;
}
small {
  font-size: 11px;
  position: relative;
  bottom: 20px;
}
.WeatherInfo .description {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  bottom: 25px;
}
.WeatherInfo ul {
  list-style: none;
  margin: 0px 0px 15px;
  text-align: right;
  text-shadow: 1px 1px var(--terciary-color);
}
.WeatherInfo li {
  font-size: 15px;
}
@media (max-width: 576px) {
  .Weather {
    border: var(--secondary-color) 1px solid;
  }
  .Weather form {
    margin: 10px 45px;
  }
  .Weather .form-control,
  .btn {
    padding: 4px;
    font-size: 15px;
  }
  .WeatherInfo .city {
    font-size: 22px;
    line-height: 20px;
  }
  .WeatherInfo .date {
    font-size: 22px;
  }
  .hour {
    font-size: 12px;
  }
  .WeatherInfo canvas {
    width: 90px;
  }

  .WeatherInfo .temperature-currentday {
    font-size: 85px;
  }
  .WeatherInfo .celsius {
    font-size: 17px;
    position: relative;
    bottom: 45px;
  }
  .temperature-currentday-max,
  .temperature-currentday-min {
    font-size: 22px;
  }
  small {
    font-size: 11px;
  }
  .WeatherInfo .description {
    font-size: 24px;
  }
  .WeatherInfo ul {
    margin-top: 20px;
  }
  .WeatherInfo li {
    font-size: 14px;
  }
}
@media (max-width: 476px) {
  .Weather {
    margin: 2px 0px 2px;
  }
  .temperature-currentday-min {
    position: relative;
    left: 10px;
  }
}
