.WeatherForecast {
  text-align: center;
  margin-top: 20px;
}
.Weather-forecast-temp-max {
  margin-right: 5px;

  font-weight: bold;
}

.Weather-forecast-day {
  font-size: 18px;
}
.col {
  padding: 5px 0px;
  margin: 10px 8px 5px;
  border: solid 1px rgb(61, 53, 53);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.col:hover {
  box-shadow: 3px 3px rgb(20, 20, 20);
  border: none;
}
@media (max-width: 576px) {
  .col {
    margin: 10px 5px;
  }
  .col .Weather-forecast-day {
    font-size: 13px;
  }
  .Weather-forecast-temp-max,
  .Weather-forecast-temp-min {
    font-size: 13px;
  }
  .col {
    margin: 10px 3px 15px;
  }
}
