.Weather {
  border: black 1px solid;
  margin: 8px auto 3px;
  padding: 20px 20px 5px;
  color: seashell;
  text-align: center;
  font-family: monospace;
}
.Weather form {
  margin: 5px 70px;
}
.Weather .form-control,
.btn {
  border-radius: 0px;
  padding: 3px;
  border-bottom-left-radius: 13px;
  border-top-right-radius: 13px;
  border: black 1px solid;
  font-size: 15px;
}
.Weather .form-control {
  margin-right: 5px;
}
.Weather .form-control:hover {
  box-shadow: 4px 4px rgb(20, 20, 20);
  border: none;
}
.Weather .btn:hover {
  box-shadow: 4px 4px rgb(20, 20, 20);
}
.WeatherInfo .temperatures {
  margin-bottom: -30px;
}
.WeatherInfo .city {
  font-size: 28px;
  margin: 10px auto -3px;
  line-height: 30px;
  font-weight: bold;
}
.WeatherInfo canvas {
  margin-top: 30px;
}
.date {
  color: rgb(20, 20, 20);
  font-size: 28px;
  font-family: "Meow Script", cursive;
}
.hour {
  font-size: 14px;
  color: rgb(20, 20, 20);
}
small {
  font-size: 11px;
}
.temperature-currentday-max,
.temperature-currentday-min {
  position: relative;
  bottom: -70px;
  font-size: 25px;
}
.temperature-currentday-max {
  font-weight: bold;
}
.WeatherInfo .temperature-currentday {
  font-size: 100px;
}
.WeatherInfo .celsius {
  font-size: 20px;
  position: relative;
  bottom: 58px;
  font-weight: bold;
}
.WeatherInfo .description {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  right: 8px;
}
.WeatherInfo ul {
  list-style: none;
  margin: 10px 0px 15px;
  text-align: right;
}
.WeatherInfo li {
  font-size: 15px;
}
@media (max-width: 576px) {
  .WeatherInfo .city {
    font-size: 20px;
    line-height: 20px;
  }
  .WeatherInfo .date {
    font-size: 20px;
  }
  .hour {
    font-size: 12px;
  }
  .WeatherInfo .temperature-currentday {
    font-size: 80px;
  }
  .WeatherInfo .temperatures {
    margin-bottom: -20px;
  }
  .WeatherInfo .celsius {
    font-size: 15px;
    position: relative;
    bottom: 45px;
  }
  .temperature-currentday-max,
  .temperature-currentday-min {
    font-size: 20px;
  }
  .WeatherInfo .description {
    font-size: 20px;
  }
  .WeatherInfo li {
    font-size: 14px;
  }
  .Weather .form-control,
  .btn {
    padding: 4px;
    font-size: 15px;
  }
  .Weather {
    border: black 1px solid;
  }
  .WeatherInfo li {
    font-size: 13px;
  }
  .Weather form {
    margin: 10px 45px;
  }
  small {
    font-size: 9px;
  }
}
@media (max-width: 476px) {
  .Weather {
    margin: 2px 0px 2px;
  }
}
