.Weather {
  border: black 1px solid;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px 20px 5px;
  color: rgba(0, 0, 0, 0.877);
  text-align: center;
  background: linear-gradient(to bottom, #c4dcf0 0%, rgb(184, 165, 187) 100%);
  font-family: Roboto, sans-serif;
}

.Weather form {
  margin: 10px 90px;
}
.Weather .form-control,
.btn {
  border-radius: 0px;
  border: black 1px solid;
}
.Weather .form-control:hover {
  box-shadow: 2px -2px rgb(20, 20, 20);
  border: none;
}
.Weather .btn:hover {
  box-shadow: 2px -2px rgb(20, 20, 20);
}
.WeatherInfo .temperatures {
  margin-bottom: -18px;
  margin-top: 20px;
}
.WeatherInfo .city {
  font-size: 25px;
  margin: 5px 0px;
  line-height: 30px;
  font-weight: bold;
}
.WeatherInfo canvas {
  margin-top: 40px;
}
.WeatherInfo .date {
  margin-top: -5px;
  font-size: 14px;
}
small {
  font-size: 11px;
}
.temperature-currentday-max,
.temperature-currentday-min {
  position: relative;
  bottom: -70px;
  font-size: 25px;
}
.WeatherInfo .temperature-currentday {
  font-size: 100px;
}
.WeatherInfo .celsius {
  font-size: 20px;
  position: relative;
  bottom: 58px;
  font-weight: bold;
}

.WeatherInfo .description {
  font-size: 22px;
  font-weight: bold;
  color: rgb(255, 115, 0);
}
.WeatherInfo ul {
  list-style: none;
  margin: 40px 0px 25px;
  text-align: end;
  text-align: right;
}

.WeatherInfo li {
  font-size: 15px;
}

.Weather footer {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  font-family: monospace;
}
@media (max-width: 992px) {
  .WeatherForecast {
    padding: 0px;
  }
}
@media (max-width: 576px) {
  .WeatherForecast img {
    width: 25px;
  }
  .WeatherForecast .Weather-forecast-day {
    font-size: 16px;
  }
  .Weather-forecast-temp-max,
  .Weather-forecast-temp-min {
    font-size: 13px;
  }
  .WeatherInfo .city {
    font-size: 20px;
    line-height: 20px;
  }
  .WeatherInfo .date {
    font-size: 13px;
  }
  .WeatherInfo .temperature-currentday {
    font-size: 80px;
  }
  .WeatherInfo .celsius {
    font-size: 15px;
    position: relative;
    bottom: 45px;
  }
  .temperature-currentday-max,
  .temperature-currentday-min {
    font-size: 20px;
  }
  .WeatherInfo img {
    width: 140px;
  }
  .WeatherInfo .description {
    font-size: 18px;
  }

  .WeatherInfo li {
    font-size: 14px;
  }
  .Weather footer {
    font-size: 10px;
  }

  .Weather {
    margin: 0px;
  }

  .Weather .form-control,
  .btn {
    padding: 4px;
    font-size: 15px;
  }
  .Weather {
    border: black 1px solid;
  }
  .WeatherInfo li {
    font-size: 15px;
    display: inline-block;
    margin: 5px;
  }
  .Weather form {
    margin: 10px 45px;
  }
  small {
    font-size: 9px;
  }
}
